<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday Alert!!</title>
</head>
<body>
    Hi team,
    <br>
    Today is your teammate <%= name %> birthday. Please wish your colleagues a happy birthday.
    <br>
    Regards<br>
    Technical Team e-Cell
</body>
</html>